@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Poppins:wght@300&family=Roboto+Condensed:ital,wght@1,300&family=Tektur:wght@800&family=Ubuntu:ital,wght@1,700&display=swap');

.font-poppins{
    font-family: 'Poppins', sans-serif;
}
.Text{   
    font-family: Roboto;
}
.Contact{
  width: 681px;
flex-shrink: 0;
}
.Small_letters{
   
font-family: Poppins, Sans;
font-style: normal;
}
.contact-2{
    background: linear-gradient(90deg, #20BD8A 1.43%, rgba(29, 175, 191, 0.90) 24.51%, rgba(16, 201, 177, 0.86) 47.9%, rgba(17, 119, 187, 0.72) 69.14%, rgba(3, 225, 157, 0.72) 85.04%);
}
